body,
html {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

ol {
    list-style: none;
    margin: 0;
    padding: 0;
    border: 1px solid lightgray;
}

ol li:nth-child(even) {
    background-color: lightgray;
}

ol li {
    display: flex;
    gap: 1rem;
    padding: 1rem;
}


ol li:has(textarea:focus) {
    background-color: lightskyblue;
}

ol li div:nth-child(2) {
    flex-grow: 1;
    flex-shrink: 1;
}

ol li textarea {
    width: 100%;
    height: 4rem;
}

.transcription .analise {
    display: none;
    line-height: 1.8rem;
}

.transcription.analise-mode textarea {
    display: none;
}

.transcription.analise-mode .analise {
    display: block;
}

.analise.analise-edit {
    background-color: bisque;
}

.analise span.current {
    box-shadow: 0 0 2px 2px blue;
}

.analise span {
    background-color: beige;
    box-shadow: -1px 1px 2px black;
    padding: 2px 0;
    cursor: pointer;
    position: relative;
    font-style: italic;
    color:darkred;
}
.analise span[data-theme-label] {
    font-style: normal;
    color: black;
}
.analise span[data-theme-label]::before {
    position: absolute;
    display: block;
    top: -10px;
    left: 0;
    content: attr(data-index) ' ' attr(data-theme-label);
    font-size: .9rem;
    background-color:black;
    color: white;
    height: 12px;
    line-height: 1rem;
    padding: 2px 4px;
    text-wrap:nowrap;
    box-shadow: none;
    border-radius: 3px 3px 0 0;
    z-index: 5;
}
.analise span.h[data-theme-label]::before {
    background-color:blue;
}

.analise span span {
    background-color:bisque;
    box-shadow: -1px 1px 2px black;
    padding: 2px 0;
    cursor: pointer;
}

.analise span:hover {
    background-color: rgb(229, 170, 244) !important;
}

.transcription.analise-mode {
    width: calc(70vw - 20px);
}
.transcription.analise-mode .analise {
    font-size: 1.5rem;
    line-height: 2.5rem;
}

.analise_config {
    display: none;   
    width: calc(30vw - 10px);
    height: calc(100vh - 80px);
    position: fixed;
    right: 0;
    top:80px;
    overflow-y: scroll;
    background-color: white;
}

.analise_config:hover {
    z-index: 20;
}

.transcription.analise-mode+.analise_config {
    display: block;
}

.transcription.analise-mode-block-mark span {
    display: block;
    margin-bottom: 5px;
    padding-left: 5px;
}
.transcription.analise-mode-block-mark span span {
    padding-left: 5px;
    margin-left: 5px;
}

.analise_config_themes,.analise_config_themes li {
    list-style: none;
    margin:0;
    padding: 0;
    margin-bottom: 5px;
}
.analise_config_themes li {
    padding: 3px 3px 3px 10px;
    margin:0;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1px;
    --color: hsl(120, 40%, 70%);
    background-image: linear-gradient(90deg, var(--color) 0, var(--color) var(--data-presence-percent), rgba(255,255,255,0) var(--data-presence-percent));
}
.analise_config_themes li div {
    flex-shrink: 0;
    flex-grow: 1;
}
.analise_config_themes li:hover {
    background-color: beige;
    color: red;
}

.analise_config_themes li:has(input[disabled]) {
    opacity: .2;
}

.toolbar {
    position: fixed;
    width: 100vw;
    height: 80px;
    box-shadow: 0 3px 5px lightgray;
    text-transform: uppercase;
    font-size: .8rem;
    background-color: white;
    z-index: 10;
}

.audio_container {
    padding: 0 10px;
    text-align: center;
}

#audio_file {
    padding: 5px 10px;
}

.audio_container audio {
    display: none;
}

.audio_container:has(audio[data-loaded]) #audio_file {
    display: none;
}

.audio_container:has(audio[data-loaded]) audio {
    display: block;
}


.toolbar audio {
    width: 100%;
    height: 50px;
}

.toolbar .info {
    display: flex;
    align-items: center;
    gap: 1rem;
    height: 25px;
    padding: 0 1rem;
}

.transcription {
    padding-top: 80px;
}

.shortcuts {
    border-radius: 10px;
    position: fixed;
    right: 20px;
    top: 20px;
    background-color: rgba(0, 0, 0, .7);
    z-index: 30;
    font-family: monospace;
    padding: 1rem;
    color: white;
    text-transform: uppercase;
    font-size: 1.1rem;
}

.shortcuts p:has(strong):first-child {
    margin-top: 0;
}

.shortcuts p:has(strong) {
    margin-top: 2em;
}

.shortcuts p {
    line-height: .4rem;
    color: lightgray;
    text-wrap: nowrap;
}

.shortcuts p span {
    display: inline-block;
    width: 160px;
    text-align: right;
    margin-right: 1rem;
    color: white;
}

.shortcuts p.h {
    color: aqua !important;
}

.shortcuts p.h span {
    color: aqua !important;
}

@layer {

    ol li {
        position: relative;
    }
   
    ol.info li::before {
        position: absolute;
        content: attr(data-index);
        display: block;
        color: yellow;
        background-color: black;
        font-family: monospace;
        font-size: 0.7rem;
        padding: .1rem .3rem;
        top: 0;
        left: 0;
    }
}

.transcription.analise-mode li::before {
    position: absolute;
    content: attr(data-index);
    display: block;
    color: yellow;
    background-color: black;
    font-family: monospace;
    font-size: 0.7rem;
    padding: .1rem .3rem;
    top: 0;
    left: 0;
}
.theme_modal {
    position: fixed;
    left: 50%;
    top: 50%;
    width: 300px;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 15px;
    transform: translate(-50%, -50%);
    display: none;
    border: 2px solid white;
    box-shadow: 0 0 5px black;

}
.show_theme_modal {
    display: block;
}
.theme_modal div {
    margin-bottom: 5px;
}
.show_theme_modal input[type="text"] {
    font-size: 1.3rem;
}
.theme_modal .themes  {
    display: flex;
    flex-direction: column;
}
.theme_modal .themes * {
    margin-bottom: 5px;

}
.theme_modal .options {
    display: flex;
    justify-content: space-between;
}
.stats {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0, 0.9);
    width: calc(70vw - 40px);
    padding: 5px 10px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    z-index: 20;
}
.stats strong {
    color: yellow;
    font-weight: bold;
    
}
.hide-item {
    display: none;
}